// font
$font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

// colors
$white-one: #f1f1f1;
$gray-light: #e6e6e6;
$gray-light-two: #D1D7E3;
$gray-dark: #777;
$gray-mid-dark: #34495e;
$gray-darker: #24292e;
$black-one: #222;
$black-two: #24292e;
$red: #cb2431;
$green: #28a745;
$green-two: #28ad00;
$green-tree: #1d7a00;
$radioSize: 17px;
$radioActive: #34495E;

// rgb
$rgb-green: rgb(74, 153, 0);
$rgb-red: rgb(238, 48, 0);